<!DOCTYPE html>
<html ng-app="labelEditor">
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        .ColorLabel {
            padding-left: 10px;
            padding-right: 10px;
        }

        .ColorList {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>

</head>
<body>
    <div ng-controller="labelCollection as vm">
        <ul>
            <li class="ColorList" ng-repeat="label in vm.sequence">
                <span contenteditable
                      ng-model="label.Text"
                      ng-change="vm.update(label)"
                      class="ColorLabel"
                      ng-model-options="{debounce: 250}"
                      ng-style="{'background-color': label.Color }" />
            </li>
        </ul>
    </div>

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="App_Script/labelEditor.js"></script>
    <script src="App_Script/contenteditable.js"></script>
    <script src="App_Script/LabelDataService.js"></script>
    <script src="App_Script/LabelCollection.js"></script>
</body>
</html>
